{% extends "layout.html" %}
  
{% include "heros/critical_mineral_conference-hero.html"%}

{% block page_content %}

<div class="names">
  <div class="cols head">
    <h1>Critical Mineral Conference Presentation</h1>
  </div>
  <div class="cols">
    <p>With the demand for zinc increasing, biomining departments have focused on developing a clean extraction 
        method. Missouri University of Science and Technology's International Genetic Engineering Student Design 
        Team (iGEM) proposed Metlock, a collection of genetic parts capable of extracting zinc in an efficient, low-carbon 
        manner. At the 5th Annual Workshop for the Resilient Supply of Critical Minerals, the iGEM team presented 
        this idea to judges. With this, we took home first place with their research poster, detailing the process 
        behind the operon. </p>
    <img src="https://static.igem.wiki/teams/5759/logos/attributions/tristian-w-board.webp" style="height: auto; width: 50%; display: block; margin: 0 auto;">
    <p><b>Figure 1:</b> <i>Tristan Crawford presenting the board</i></p>
    <p>Industry executives gave the team feedback over multiple aspects, including biomining assay requirements and 
        strategies to further develop the project. The workshop theme was “Empowering a Vibrant Workforce: Leveraging 
        Critical Minerals Research to Drive Innovation and Growth.” Hosting sessions on workforce development, 
        exploration, processing and recycling strategies, and connections to supply and demand, organizers provided 
        discussion about the nation's critical minerals. </p>
    <p>One of the most important suggestions made to the iGEM team on these strategies is the requirement of “one 
        gram per liter.” Recovering one gram of metal from just one liter of solution is economically favorable, 
        especially on an industrial scale, and would make a project such as ours profitable. For comparison, natural ores often contain only a few milligrams per 
        kilogram of metal. With the profits that one gram per liter offers if achieved, techniques such as Metlock  
        could be applied industrially in solvent extraction and bioaccumulation of critical minerals. </p>
    <p>With this feedback, our team is utilizing strategies to improve our project design and outcome. After 
        presenting to five judges at a three-day event, we were proud to win first place for their research poster contest, 
        showing scientific merit and addressing rational needs.  </p>
    <img src="https://static.igem.wiki/teams/5759/logos/attributions/person-w-board.webp" style="height: auto; width: 50%; display: block; margin: 0 auto;">
        <p><b>Figure 2:</b> <i>Austin Thrasher presenting the board</i></p>
    </div>
</div>
{% endblock %}