{% extends "layout.html" %}

{% include "heros/education-hero.html"%}

{% block page_content %}

<!-- TODO Make picture at the bottom bigger -->

<div class="cols head"> <h1>Educational Outreach</h1> </div> <div class="cols"> 
  <p>Our outreach efforts focused on going to classes to raise awareness about our design team.
  Over the course of this outreach we visited nine different classes and talked to over 250 different students,
  allowing us to engage with a diverse group of individuals. During these visits, we presented past projects such as 
  MyRNA and our current project, Metlock, providing students with a clear understanding of our team's achievements and 
  the goals driving our ongoing efforts.</p> <p>The main objective of this outreach initiative was to recruit new members. 
  We encouraged students to consider joining our design team by highlighting how participation could help them develop 
  valuable skills, gain hands-on experience, and contribute to meaningful projects. To inspire interest, we shared examples
  of our previous successes and the types of projects we work on to show the kind of impact they could have.
 </p> 
 <p>Following this recruitment process, our team grew from 13 to 56 members. This experience not only helped us promote our 
  program but also allowed us to engage directly with students on a massive scale to educate them about synthetic biology. 
  By presenting our work in person, we were able to answer questions, address their curiosity and concerns, and generate excitement 
  about our design team among students across campus. This initiative showcased the importance of clear communication and personal 
  engagement efforts.</p> 
  <figure class = "centered-figure">
  <img src="https://static.igem.wiki/teams/5759/logos/training/training.webp" style="height: 70%; width: 70%; display: block; margin: 0 auto;"> 
  <figcaption><b>Figure 1:</b> 
  <i>Students that participated in a training</i></figcaption> </figure> 
  </div>

{% endblock %}