{% extends "layout.html" %}
  
{% include "heros/inclusivity-hero.html"%}

{% block page_content %}
<div class="cols head">
  <h1>Inclusivity</h1>
</div>
<div class="cols">
  <p>Polluted wastewater goes beyond environmental hazards. It’s a human rights issue affecting public health, local economies, and justice.  
    Certain countries are marginalized, and bear the harmful effects of wastewater pollution, a problem that needs to be addressed [<a href="#inclusivity-2">2</a>].</p>
  <p>Most importantly, polluted wastewater is damaging to human health and well-being. It carries pathogens, heavy metals, prescriptions, and 
    chemicals unfiltered by common treatment systems. Reports of medieval diseases are common among these communities, as well as reports of 
    estrogen affecting the sex of fish. Limited sanitation and poor infrastructure contribute to poorly managed wastewater [<a href="#inclusivity-5">5</a>]. 
    Immunocompromised individuals are most at risk for these diseases, especially in communities with a lack of healthcare [<a href="#inclusivity-6">6</a>].</p>
  <p>Most importantly, polluted wastewater is damaging to human health and well-being. It carries pathogens, heavy metals, prescriptions, and 
    chemicals unfiltered by common treatment systems. Reports of medieval diseases are common among these communities, as well as reports of 
    estrogen affecting the sex of fish. Limited sanitation and poor infrastructure contribute to poorly managed wastewater [<a href="#inclusivity-5">5</a>]. 
    Immunocompromised individuals are most at risk for these diseases, especially in communities with a lack of healthcare [<a href="#inclusivity-6">6</a>].</p>
  <p>Polluted wastewater usually affects communities struggling with environmental justice. Industries and landfills locate their facilities 
    near low-income neighborhoods and practice unsafe sanitation techniques for a reduced fee, increasing the divide that political injustice 
    creates. They are left to live with foul water, lowered biodiversity, and depleted crops. Pollution is rooted in injustice through a lack 
    of political decision-making power and lobbying [<a href="#inclusivity-1">1</a>]. </p>
  <p>Beyond health and environment, polluted wastewater damages maintenance. Sewage systems degrade with the constant passage of chemicals and 
    are often old and unkempt. This leads to sewage overflows, flooding, and raw wastewater backup. Preventive maintenance is replaced with 
    expensive emergency responses [<a href="#inclusivity-5">5</a>].</p>
  <p>Inequality is rooted in political divides and economic struggle. Health, corrosion, and lack of funds are the main causes of polluted 
    wastewater [<a href="#inclusivity-6">6</a>]. Fixing these problems at their core will prove to be more sustainable and affordable for the public in the future. 
    Focusing on improving water quality is essential to the safety and longevity of these communities [<a href="#inclusivity-3">3</a>].</p>
</div>
<div class="cols head">
  <h2>References</h2>
</div>
<div class="cols">
  <p id="inclusivity-1">[1] Bullard, R. D. (2000). Dumping in Dixie: Race, class, and environmental quality. Westview Press. </p>
  <p id="inclusivity-2">[2] Mohai, P., Pellow, D., & Roberts, J. T. (2009). Environmental justice. Annual Review of Environment and Resources, 34, 405-430. <a href="https://doi.org/10.1146/annurev-environ-082508-094348">https://doi.org/10.1146/annurev-environ-082508-094348</a></p>
  <p id="inclusivity-3">[3] United Nations Environment Programme (UNEP). (2021). Bracing for the new normal: Nature-based solutions for wastewater management. <a href="https://www.unep.org">https://www.unep.org</a> </p>
  <p id="inclusivity-4">[4] UNESCO. (2023). UN World Water Development Report 2023: Partnerships and cooperation for water. <a href="https://www.unesco.org/reports/wwdr/2023/en">https://www.unesco.org/reports/wwdr/2023/en</a></p>
  <p id="inclusivity-5">[5] U.S. Environmental Protection Agency (EPA). (2021). Wastewater infrastructure needs survey. <a href="https://www.epa.gov/cwns">https://www.epa.gov/cwns</a> </p>
  <p id="inclusivity-6">[6] World Health Organization (WHO). (2022). Water, sanitation, hygiene, and health. <a href="https://www.who.int/teams/environment-climate-change-and-health/water-sanitation-and-health">https://www.who.int/teams/environment-climate-change-and-health/water-sanitation-and-health</a></p>
</div>
<!--<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Inclusivity Award</h4>
      <p>The Inclusivity Award recognizes exceptional efforts to include people with diverse identities in scientific research. Who is allowed to have a voice in iGEM, synthetic biology and science more broadly? How have you developed new opportunities to eliminate barriers and allow more people to contribute to, participate in and/or be represented by these communities? To compete for this prize, activities do not have to be directly related to your team’s project. Document your approach, how you improved inclusivity and what was learned.</p>
      <hr />
      <p>Visit the <a href="https://competition.igem.org/judging/special-prizes">Special Prizes page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Overview</h2>
    <hr />
    <p>We should all recognize the importance of building an open and welcoming scientific community. A more diverse community involved in creating knowledge and technology is more likely to produce a more equitable and representative system. Every individual, regardless of background or experience, should have an equal opportunity to engage with scientific knowledge and technological development. Everyone should be able to share their opinions on the societal implications of research.</p>
  </div>
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr />
    <ul>
      <li><a href="https://2024.igem.wiki/patras-med/inclusivity">2024 Patras-Med</a></li>
      <li><a href="https://2024.igem.wiki/fudan/inclusivity">2024 Fudan</a></li>
      <li><a href="https://2023.igem.wiki/unimuenster/inclusivity">2023 UniMuenster</a></li>
      <li><a href="https://2023.igem.wiki/ugm-indonesia/inclusivity">2023 UGM-Indonesia</a></li>
      <li><a href="https://2023.igem.wiki/vilnius-lithuania/inclusivity">2023 Vilnius-Lithuania</a></li>
      <li><a href="https://2023.igem.wiki/nis-kazakhstan/inclusivity">2023 NIS-Kazakhstan</a></li>
    </ul>
  </div>
</div>-->

{% endblock %}
