{% extends "layout.html" %}

{% include "heros/members-hero.html"%}

{% block page_content %}

<!-- TODO redo page to improve so it looks good for next year-->

<div class="teamMargins"></div>

  <h1 style="font-size:50px" class="centered"> Meet the Team </h1>
   <h2> The PI's</h2>
   <hr> 
   <table class = "table table-bordered">
   <thead class="table-dark"> 
     <tr> 
       <th class="centered" width="22%">Primary Investigator</th>
       <th class="centered">Description</th>
     </tr>
       </thead>
       <tbody class="table-light"> 
     <tr> 
       <td> <img src="https://static.igem.wiki/teams/5759/team/pis/katie-shannon-headshot-2014-smaller.webp" alt="image of shannon" style="width: 90%;"></td>
       <td class="centerall">
         <p style="font-size:300%"> <b>Name:</b> Dr. Shannon</p>
         <!--<p style="font-size:175%"> Bio goes here</p>-->
       </td>
     </tr>
     <tr> 
       <td> <img src="https://static.igem.wiki/teams/5759/team/pis/dr-westenberg.webp" alt="image of westenberg" style="width: 90%;"></td>
       <td class="centerall">
         <p style="font-size:300%"> <b>Name:</b> Dr. Westenberg</p>
         <!--<p style="font-size:175%"> Bio goes here</p>-->
       </td>
     </tr>
     <tr> 
       <td> <img src="https://static.igem.wiki/teams/5759/team/pis/20241001-hunter-schroer-1-1536x1024.webp" alt="image of schroer" style="width: 90%;"></td>
       <td class="centerall">
         <p style="font-size:300%"> <b>Name:</b> Dr. Schroer</p>
         <!--<p style="font-size:175%"> Bio goes here</p>-->
       </td>
     </tr>
     <tr> 
       <td> <img src="https://static.igem.wiki/teams/5759/team/pis/amber-pete.webp" alt="image of pete" style="width: 90%;"></td>
       <td class="centerall">
         <p style="font-size:300%"> <b>Name:</b> Dr. Pete</p>
         <!--<p style="font-size:175%"> Bio goes here</p>-->
       </td>
     </tr>
 </tbody>
 </table>
 <h2> The Student Leaders</h2>
 <hr>
  <table class = "table table-bordered">
   <thead class="table-dark">
     <th  width="22%" height="100%" class="centered"> Leader </th>
     <th class="centered">Description</th>
   </thead>
   <tbody class="table-light">
     <tr> 
       <td> <img src="https://static.igem.wiki/teams/5202/officers/tristan.jpeg" width="100%"> </td>  
       <td class="centerall"><p style="font-size:300%"><b>Name:</b> Tristan Crawford</p>
       <p style="font-size:250%"><b>Job:</b> President</p>
       </td>
     </tr>
     <tr> 
        <td> <img src="https://static.igem.wiki/teams/5202/officers/jenna-mueller.png" width="100%"> </td>  
        <td class="centerall"><p style="font-size:300%"><b>Name:</b> Jenna Mueller</p>
        <p style="font-size:250%"><b>Job:</b> Vice President</p>
       </td>
     </tr>
     <tr>
       <td> <img src="https://static.igem.wiki/teams/5202/officers/lindsay.png" class="image" width="100%"> </td> 
       <td class="centerall"> 
         <p style="font-size:300%"><b>Name:</b> Lindsay Schneider</p>
        <p style="font-size:250%"><b>Job:</b> PR Chair</p>
       </td>
     </tr>
     <tr>
       <td> <img src="https://static.igem.wiki/teams/5202/officers/elena-zobel.jpg" width="100%"> </td>
       <td class="centerall"> <p style="font-size:300%"><b>Name:</b> Elena Zobel</p>
       <p style="font-size:250%"><b>Job:</b> Wet Lab Chair</p>
      </td>
     </tr>
     <tr>
       <td> <img src="https://static.igem.wiki/teams/5759/team/ethanfixed.webp" width="100%"> </td>
       <td class="centerall"> <p style="font-size:300%"><b>Name:</b> Ethan Beane</p>
       <p style="font-size:250%"><b>Job:</b> Dry Lab Chair </p>
      </td>
     </tr>
     <tr> 
      <td> <img src="https://static.igem.wiki/teams/5202/officers/lucas-professional-11.jpg" width="100%"> </td>  
      <td class="centerall"><p style="font-size:300%"><b>Name:</b> Lucas Navarro</p>
      <p style="font-size:250%"><b>Job:</b> Web Chair</p>
     </td>
     </tr>
     <tr> 
       <td> <img src="https://static.igem.wiki/teams/5202/officers/julian.jpg" width="100%"> </td>  
       <td class="centerall"><p style="font-size:300%"><b>Name:</b> Julian Foat</p>
       <p style="font-size:250%"><b>Job:</b> Secretary </p>
      </td>
      </tr>
      
   </tbody>
 </table>
 <h2>The Team Members</h2>
 <hr>
 
  <table class = "table table-bordered" class="centered" > 
   <thead class="table-dark"> 
   <tr> 
     <th class="centered"> General Members</th>
   </tr>
 </thead>
  <tbody class="table-light">
   <tr> 
     <td>Abdelmenam Oun</td>
   </tr>
   <tr>
     <td>Abigial Leipholtz</td>
   </tr>
   <tr>
     <td>Addi Imhof </td>
   </tr>
   <tr>
     <td>Adrianna Sasser </td>
   </tr>
   <tr>
     <td>Aiden Casey</td>
   </tr>
   <tr>
     <td>Alana Cross</td>
   </tr>
   <tr>
     <td>Ann Harvey</td>
   </tr>
   <tr>
     <td>Audrey Brzezinski</td>
   </tr>
   <tr>
     <td>Ava Buerk</td>
   </tr>
   <tr>
     <td>Brady Scarlett</td>
   </tr>
   <tr>
     <td>Carson Miller</td>
   </tr>
   <tr>
     <td>Chey Campos </td>
   </tr>
   <tr>
     <td>Corinne Bale</td>
   </tr>
   <tr>
     <td>Drake O'Leary </td>
   </tr>
   <tr>
     <td>Ella Hanlin</td>
   </tr>
   <tr>
     <td>Elle Hamilton</td>
   </tr>
   <tr>
     <td>Emily Johannes </td>
   </tr>
   <tr>
     <td>Erica Hunke</td>
   </tr>
   <tr>
     <td>Gavin Wivvenmeyer </td>
   </tr>
   <tr>
     <td>Grace Chandler </td>
   </tr>
   <tr>
     <td>Isabella Andrus</td>
   </tr>
   <tr>
     <td>Jacob Penn</td>
   </tr>
   <tr>
     <td>Jadyn Hopper </td>
   </tr>
   <tr>
     <td>Jillian Mayer</td>
   </tr>
   <tr>
     <td>Joe Basse </td>
   </tr>
   <tr>
     <td>Jonathan Zelkovich</td>
   </tr>
   <tr>
     <td>Kaiden Baer </td>
   </tr>
   <tr>
     <td>Karley Butts</td>
   </tr>
   <tr>
     <td>Kate Zipprich </td>
   </tr>
   <tr>
     <td>Katie McCormick </td>
   </tr>
   <tr>
     <td>Kylie Reiner</td>
   </tr>
   <tr>
     <td>Lee Scheidt </td>
   </tr>
   <tr>
     <td>Marevena Kaliny</td>
   </tr>
   <tr>
     <td>Matthew Martin </td>
   </tr>
   <tr>
     <td>Nicole Militante </td>
   </tr>
   <tr>
     <td>Noah Misukonis </td>
   </tr>
   <tr>
     <td>Osiel Martinez </td>
   </tr>
   <tr>
     <td>Paula Veeramasu</td>
   </tr>
   <tr>
     <td>Preston Zuber</td>
   </tr>
   <tr>
     <td>Quincy Primeau </td>
   </tr>
   <tr>
     <td>Sabastian Ubinger</td>
   </tr>
   <tr>
     <td>Seagal Giradot</td>
   </tr>
   <tr>
     <td>Sindhu Jaiganesh</td>
   </tr>
   <tr>
     <td>Sophia Thomassy</td>
   </tr>
   <tr>
     <td>Ty Humbard </td>
   </tr>
 </tbody>
 </table >
 
 {% endblock %}