{% extends "layout.html" %}

{% include "heros/pulse-check-hero.html"%}

{% block page_content %}
<div class="names">
    <div class="cols head">
        <h1>Pulse Check</h1>
    </div>
    <div class="cols">
        <p>On May 2nd, 2025, Missouri S&T's International Genetically Engineered Machines (iGEM) team hosted an 
            event with a direct impact on the health of Missouri S&T's campus. Working with the campus's Student 
            Union Board, a free cardiac screening called “Pulse Check” was organized for students. From 8 a.m to 
            6 p.m., free electrocardiogram (ECG) tests were offered to over 200 students. ECGs are quick, painless, 
            and incredibly valuable as they can detect heart arrhythmias that could lead to chronic heart failure,
            stroke, heart attack, and sudden cardiac arrest. While these are less likely in college aged students,
            arrhythmias can be diagnosed decades in advance and allow preventative action to be taken by those affected.
            Participants' weight, height, waist circumference, and blood pressure were measured, 
            providing an overall assessment of their heart health. </p>
        <img src="https://static.igem.wiki/teams/5759/logos/pulsecheck/pulse-check.webp" style="height: auto; width: 50%; display: block; margin: 0 auto;">
        <p style="text-align: center;"><b>Figure 1:</b> <i>The pamphlet that was circulated to students</i></p>
        <p>These simple checks provide the basis for heart health, helping students understand their overall 
            cardiovascular risk. The goal was to ensure that friends and classmates had access to early detection 
            without costs or hassle. Volunteers from the iGEM team and other campus organizations worked to run the 
            event. Participants were checked in, questions were answered, and the ECG testing was conducted—all 
            while ensuring the well-being of participants and overall event operations.  For many participants, it was 
            their first experience having an ECG. Given this, it was a priority to guarantee a stress-free 
            process. The Ruth Lee Miller Heart Research Foundation provided the event with board-certified 
            medical doctors to read all ECGs. This ensured that students received professional, reliable results. In 
            fact, one participant had an A-Fib and was referred to the local hospital. Seven others were found to have 
            cardiac dysrhythmias and encouraged to follow up with their primary care providers. Collaborating with other 
            associations to expand health access and health literacy on campus was highly rewarding. </p>
        <p>This event sparked more health-focused projects on campus, allowing a difference to be made not just in 
            the lab, but in the community where learning takes place. S&T's iGEM team is proud to have played a 
            role in protecting the heart of our campus, one beat at a time. </p>
    </div>
</div>
{% endblock %}